
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Raleway:wght@700;800&display=swap');

body { 
    font-family: 'Inter', sans-serif; 
}

h1, h2, h3, .brand-font { 
    font-family: 'Raleway', sans-serif; 
}

.ticket-dashed {
    background-image: linear-gradient(to bottom, #333 33%, rgba(255,255,255,0) 0%);
    background-position: left;
    background-size: 1px 10px;
    background-repeat: repeat-y;
}

.seat-btn.selected {
    background-color: #1DD100;
    color: white;
}